.people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.person {
  background: rgba(0, 0, 0, 0.05);
  margin: 0.5em;
  border-radius: 2px;
  min-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.person-name {
  margin-bottom: 8px;
  padding: 0.25em;
  border-radius: 2px 2px 0 0;
  margin: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.person.winning .person-name {
  background-color: gold;
}
.teams {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: center;
}
.team {
  background: rgba(0, 0, 0, 0.1);
  margin: 0.5em;
  border-radius: 2px;
  justify-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-width: 75px;
}
.team.in-progress.in-progress {
  border-bottom: 3px solid red;
}
.team .team-name {
  padding: 0.25em 0.5em;
}
.team-result .team-score {
  width: 80px;
}
.team-date {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.team.picked {
  border: 1px solid black;
}

.team-score.ou-win {
  color: whitesmoke;
  background-color: crimson;
}
.team-score.opp-win {
  color: white;
  background-color: black;
}

.team-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.team-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-detail h1 {
  font-size: large;
  margin-bottom: 0.25em;
}

.points {
  padding: 0.15em 0.25em;
}
.points-1 {
  background-color: rgb(0, 0, 0, 0.15);
  color: black;
}
.points-2 {
  background-color: rgb(121, 160, 218);
  color: white;
}
.points-3 {
  background-color: green;
  color: white;
}
